<!doctype html>
<!--  
                              -- GOOD BOY PROJECTS -- 
                               GOODBOYPROJECTS.NET

                              . ....                                            
                       ,&@@@@@@@@@@@@@@*                  .%@@@@@@@@@@&(.       
                  *%@@@@%.           .#@@.            .%@@@@#*,.    ..,(@@&     
               .&@@%/                  /@@.        #@@@#.                %@&,   
             /@@&,                     .&@/     ,@@@#                    *@@,   
           *@@#                   *(&&( &@*   #@@(                ,(%&&#*(@&    
         *@@*                 ,@@@@@@@@@@@ .@@#.               *@@@@@@@@@@@,    
        &@#                 #@@@@@@@@@@@@/&@#                ,@@@@@@@@@@@@(     
      ,@@,                 &@@@@@@@@@@@@#@&.                .&@@@@@@@@@@@%      
     ,@@.                  #@@@@@@@@@@%*@@.                  .&@@@@@&#&@#       
    .&@*                     ,/#(,%@&. &@/                         .%@@,        
    *@@.                       *@@@,  ,@@/                       ,@@&,          
    ,@@.                    .%@@#     ,&@(                     %@@*             
    .&@,                  *@@@,        &@%                 .%@@&                
     .@@/            .*&@@@/           *@@&/           ,#@@@#                   
       .#@@@@@@@@@@@@&#*.                /@@@@@@@@@@@@@@%.                      
           ......                                  .           

                     DESIGN AND DEVELOPMENT BY MATTHEW FLORES
                                    2021 A.D.            
-->
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width,initial-scale=1.0">

   <title>Good Boy Projects</title>
   <meta name="description" content="Vessel Score">
   <meta name="author" content="Matthew Flores">
   <link rel="shortcut icon" type="image/png" href="/images/favicon.png">

   <link rel="stylesheet" href="css/style.css">
   <script rel="javascript" src="js/script.js"></script>
</head>

<body>

   <div class="timecontainer">
      <div id="time"></div>
   </div>

   <div class="weathercontainer">
      <span id="temperature"></span>°F & <span id="description"></span> in Atlanta, GA, USA.
   </div>

   <div class="sidebar" id="projectsbar">
      <div class="closebtn" onclick="closeProjects()" id="closebtn">&times;</div>
      <div class="openbtn" onclick="openProjects()" id="barlabel">ARCHIVE</div>

      <div class="projectsgrid">
         <div class="projectsitem">
            <div id="title">Good Boy Project #001</div>
            <div class="projectsimage"><img id="projectsimage" alt="" src="images/1.jpg">
               <div id="projectsinfo">
                  <mark>ROLL a grapefruit-sized ball, POKE your thumb, anywhere but the center, PINCH
                     three rotations at a steep outward angle, PINCH upward for seven rotations, ADD two coils to the
                     top,
                     PINCH horizontally for three rotations</mark>
               </div>
            </div>
         </div>

         <div class="projectsitem">
            <div id="title">Good Boy Project #002</div>
            <div class="projectsimage"><img id="projectsimage" alt="" src="images/2.jpg">
               <div id="projectsinfo"><mark>ROLL a grapefruit-sized ball, POKE your thumb, anywhere but the center,
                     PINCH
                     three rotations at a steep outward angle, PINCH upward for seven rotations, ADD two coils to the
                     top,
                     PINCH horizontally for three rotations</mark></div>
            </div>
         </div>

         <div class="projectsitem">
            <div id="title">Good Boy Project #003</div>
            <div class="projectsimage"><img id="projectsimage" alt="" src="images/3.jpg">
               <div id="projectsinfo"><mark>ROLL a grapefruit-sized ball, POKE your thumb, anywhere but the center,
                     PINCH
                     three rotations at a steep outward angle, PINCH upward for seven rotations, ADD two coils to the
                     top,
                     PINCH horizontally for three rotations</mark></div>
            </div>
         </div>
      </div>
   </div>

   <div class="center">
      <img src="images/dog.gif" alt="Good Boy Projects is Watching You">
   </div>



   <div class="footer">

      <ul class="footerlinks">
         <div class="title">GOOD BOY PROJECTS</div>
         <div class="subtitle">"Chasing Our Tail Since 2019"</div>
         <li>Current Projects</li>
         <li>Info</li>
         <li>:•)</li>
         <div class="social">
            <a href="https://instagram.com/goodboyprojects/" target="new" title="Instagram"> <svg
                  xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 24 24">
                  <path
                     d="M12,2.16c3.2,0,3.58,0,4.85.07,3.25.15,4.77,1.69,4.92,4.92.06,1.27.07,1.65.07,4.85s0,3.59-.07,4.85c-.15,3.23-1.66,4.77-4.92,4.92-1.27.06-1.64.07-4.85.07s-3.58,0-4.85-.07c-3.26-.15-4.77-1.7-4.92-4.92-.06-1.27-.07-1.64-.07-4.85s0-3.58.07-4.85C2.38,3.92,3.9,2.38,7.15,2.23,8.42,2.18,8.8,2.16,12,2.16ZM12,0C8.74,0,8.33,0,7.05.07c-4.35.2-6.78,2.62-7,7C0,8.33,0,8.74,0,12S0,15.67.07,17c.2,4.36,2.62,6.78,7,7C8.33,24,8.74,24,12,24s3.67,0,4.95-.07c4.35-.2,6.78-2.62,7-7C24,15.67,24,15.26,24,12s0-3.67-.07-4.95c-.2-4.35-2.62-6.78-7-7C15.67,0,15.26,0,12,0Zm0,5.84A6.16,6.16,0,1,0,18.16,12,6.16,6.16,0,0,0,12,5.84ZM12,16a4,4,0,1,1,4-4A4,4,0,0,1,12,16ZM18.41,4.15a1.44,1.44,0,1,0,1.43,1.44A1.44,1.44,0,0,0,18.41,4.15Z" />
               </svg></a>

            <a href="https://open.spotify.com/user/matthewflores?si=3ec03828d3be4388" target="new" title="Spotify"><svg
                  xmlns="http://www.w3.org/2000/svg" height="24" width="24" version="1.1" viewBox="0 0 168 168">
                  <path
                     d="m83.996 0.277c-46.249 0-83.743 37.493-83.743 83.742 0 46.251 37.494 83.741 83.743 83.741 46.254 0 83.744-37.49 83.744-83.741 0-46.246-37.49-83.738-83.745-83.738l0.001-0.004zm38.404 120.78c-1.5 2.46-4.72 3.24-7.18 1.73-19.662-12.01-44.414-14.73-73.564-8.07-2.809 0.64-5.609-1.12-6.249-3.93-0.643-2.81 1.11-5.61 3.926-6.25 31.9-7.291 59.263-4.15 81.337 9.34 2.46 1.51 3.24 4.72 1.73 7.18zm10.25-22.805c-1.89 3.075-5.91 4.045-8.98 2.155-22.51-13.839-56.823-17.846-83.448-9.764-3.453 1.043-7.1-0.903-8.148-4.35-1.04-3.453 0.907-7.093 4.354-8.143 30.413-9.228 68.222-4.758 94.072 11.127 3.07 1.89 4.04 5.91 2.15 8.976v-0.001zm0.88-23.744c-26.99-16.031-71.52-17.505-97.289-9.684-4.138 1.255-8.514-1.081-9.768-5.219-1.254-4.14 1.08-8.513 5.221-9.771 29.581-8.98 78.756-7.245 109.83 11.202 3.73 2.209 4.95 7.016 2.74 10.733-2.2 3.722-7.02 4.949-10.73 2.739z" />
               </svg>
            </a>
         </div>
      </ul>




   </div>
</body>

</html>